@page "/forget-password"

@inject CustomAuthenticationStateProvider AuthProvider
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Navigation
@inject IJSRuntime JS


<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Forget Password</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div data-mdb-input-init class="form-outline">
            <EditForm Model="@emailModel" OnValidSubmit="@SendResetLink">
                <DataAnnotationsValidator />
                <label class="form-label" for="typeEmail">Email</label>
                <InputText type="email" id="typeEmail" class="form-control my-3" @bind-Value="emailModel.Email" />
                <button type="submit" class="btn btn-primary w-100" />
            </EditForm>
        </div>
    </div>
</div>

@code {
    private EmailModel emailModel { get; set; } = new EmailModel();
    private string errorMessage;
    private bool isLoading;

    private async Task SendResetLink()
    {
        try
        {
            var httpClient = HttpFactory.CreateClient("FIXIT.API");
            var response = await httpClient.PostAsync($"Auth/ForgetPassword/{emailModel.Email}", null);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<AuthResult>();

                if (!result!.IsAuthenticated)
                {
                    await JS.InvokeVoidAsync("alert", result.Message);
                }
                else
                {
                    await JS.InvokeVoidAsync("alert", result.Message);
                    Navigation.NavigateTo("/login");
                }
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = "Invalid verification code. Please try again.";
            }
        }
        catch (Exception ex )
        {
            errorMessage = $"Error: {ex.Message}";
        }
    }


    private class EmailModel
    {
        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Invalid email address")]
        public string Email { get; set; }
    }
}
