@page "/reset-password"

@inject CustomAuthenticationStateProvider AuthProvider
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Navigation
@inject IJSRuntime JS


<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Reset Password</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your New Password.
        </p>
        <div data-mdb-input-init class="form-outline">
            <EditForm Model="@Model" OnValidSubmit="@HandleReset">
                <DataAnnotationsValidator />
                <label class="form-label" for="typeEmail">New Password</label>
                <InputText type="password" id="typepass" class="form-control my-3" @bind-Value="Model.NewPassword" />
                <button type="submit" class="btn btn-primary w-100" />
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string token { get; set; } = string.Empty;
    [Parameter]
    [SupplyParameterFromQuery]
    public string email { get; set; } = string.Empty;

    private ResetPasswordModel Model { get; set; } = new ResetPasswordModel();
    private string errorMessage;
    private bool isLoading;

    private async Task HandleReset()
    {
        try
        {
            Model.Email = email;
            Model.token = token;

            var httpClient = HttpFactory.CreateClient("FIXIT.API");
            var response = await httpClient.PostAsJsonAsync($"Auth/ResetPassword", Model);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<AuthResult>();

                if (!result!.IsAuthenticated)
                {
                    await JS.InvokeVoidAsync("alert", result.Message);
                }
                else
                {
                    await JS.InvokeVoidAsync("alert", result.Message);
                    Navigation.NavigateTo("/login");
                }
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = "Invalid verification code. Please try again.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}";
        }
    }


    private class ResetPasswordModel
    {

        public string Email { get; set; } = null!;
        public string token { get; set; } = null!;
        [Required(ErrorMessage = "Password is required")]
        [MinLength(10, ErrorMessage = "Password must be at least 10 characters long")]
        public string NewPassword { get; set; }
    }
}
